page-quote {

h2{

   font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    font-weight:bold;
    font-style: italic;
}
ion-icon {
        font-size: 100px; //Preferred size here
    }
}
